# comment
string_var = "string_value"
integer_var = 42
float_var = 3.14
boolean_var = true

# more strings
string2 = "string with spaces"              # spaces
string3 = "string with \"quotation\" marks" # quotation marks
string4 = "string with \\backslashes\\"     # backslashes
string5 = "string with \nnewline"           # newlines
string6 = "string with \bbackspace"         # backspace
string7 = "string with \fform feed"         # form feed
string8 = "string with \ttab"               # tab
string9 = "string with \rcarriage return"   # carriage return

# more integers
integer2 = -7   # negative integers

# more floats
float2 = 53.0   # also an integer
float3 = -9.7   # negative float
float4 = 6.022e23   # scientific notation
float5 = 1.6E-19    # capital E scientific notation

# more booleans
boolean2 = false    # false

# arrays
array_var = [ "yes", "maybe", "no" ]
array2 = [true, false, ]    # terminal comma allowed by TOML

# a sub-table
[ subtable ]

yes = 1
maybe = 0.5
no = 0

[subtable.subsubtable]  # a sub-sub-table

yes = true
no = false
