# comment
string_var = "string_value"
integer_var = 42
float_var = 3.14
boolean_var = true

# more strings
string2 = "string with spaces"              # spaces
string3 = "string with \"quotation\" marks" # quotation marks
string4 = "string with \\backslashes\\"     # backslashes

# more integers
integer2 = -7   # negative integers

# more floats
float2 = 53.0   # also an integer
float3 = -9.7   # negative float
float4 = 6.022e23   # scientific notation
float5 = 1.6E-19    # capital E scientific notation

# more booleans
boolean2 = false    # false

